$main-font: 'Roboto', sans-serif;
$green: #004c3f;
$offwhite: #fbf7ed;

.nominations-main {
  background-color: $green;
  padding: 1em;
  width: 30vw;
  height: 30em;
  display: flex;
  justify-content: flex-start;

  .nominations-title {
    font-family: $main-font;
  }

  .nominations-container {
    padding-left: 0;
  }
}