$main-font: 'Roboto', sans-serif;
$green: #004c3f;
$secondary-font: #388161;
$offwhite: #fbf7ed;

$med-screen: 768px;

@mixin med {
  @media (max-width: #{$med-screen}) {
    @content
  }
}

.nominations-main {
  padding: 1em;
  width: 30%;
  height: 30em;
  display: flex;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include med {
    width: 100%;
    padding: 0;
  }

  .nominations-header {
    width: 90%;
    display: flex;
    flex-direction: column;

    .nominations-title {
      font-family: $main-font;
      font-size: 1.5em;
      font-weight: 500;
      color: $green;
      text-align: start;
      letter-spacing: 0.05em;
    }

    .nominations-count {
      color: $green;
      font-family: $main-font;
      font-weight: 300;
      text-align: start;
    }
  }

  .nominations-container {
    width: 100%;
    height: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}