$main-font: 'Roboto', sans-serif;
$green: #004c3f;
$secondary-green: #388161;

.nomination-container {
  list-style-type: none;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-top: 1px solid $secondary-green;

  .nomination-description {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    text-align: start;
    color: $green;
    letter-spacing: 0.05em;

    .nomination-title {
      font-family: $main-font;
      font-weight: 500;
    }
  
    .nomination-year {
      font-family: $main-font;
      font-weight: 300;
    }
  }

  .MuiSvgIcon-root {
    color: #960f0f;
    cursor: pointer;

    &:hover {
      color: #993c3c;
    }
  }
}