$main-font: 'Roboto', sans-serif;

.nomination-container {
  list-style-type: none;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  border-top: 1px solid white;

  .nomination-description {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    text-align: start;
    color: white;
    letter-spacing: 0.05em;

    .nomination-title {
      font-family: $main-font;
      font-weight: 300;
    }
  
    .nomination-year {
      font-family: $main-font;
      font-weight: 300;
    }
  }

  .MuiButtonBase-root {
    background-color: #960f0f;

    &:hover {
      background-color: #993c3c;
    }
  }
}