$main-font: 'Roboto', sans-serif;

.article-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  padding: 0.5em;

  .article-poster {
    width: 3em;
  }

  .article-description {
    display: flex;
    flex-direction: column;
    margin-left: 1em;

    .article-title {
      font-family: $main-font;
    }
  
    .article-year {
      font-family: $main-font;
    }
  }

  .MuiButtonBase-root {
    margin-left: auto;
  }
}