$main-font: 'Roboto', sans-serif;

.article-container {
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  padding: 1em;
  width: 90%;

  .article-poster {
    width: 3em;
  }

  .article-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1em;
    color: white;
    letter-spacing: 0.05em;

    .article-title {
      font-family: $main-font;
      text-align: start;
    }
  
    .article-year {
      font-family: $main-font;
    }
  }

  .MuiButtonBase-root {
    margin-left: auto;
    background-color: #dba709;
    width: 9em;
    height: 3em;
    border-radius: 5em;
    box-shadow: 0 0 0.3em #dba709;

    &:hover {
      background-color: #f0c543;
    }
  }
}